{{!< default}}
<header class="site-head">
    <div class="header-sect">
        <a href="#my-menu"><img class="mmenu" src="{{asset "img/icn_menu.png"}}"/></a>
        <a class="blog-logo" href="{{@blog.url}}">
            {{#if @blog.logo}}
                <img src="{{@blog.logo}}" alt="Blog Logo" />
            {{else}}
                <span class="blog-title">{{@blog.title}}</span>
            {{/if}}
        </a>
    </div>
</header>
<main class="content" role="main">
    {{#foreach posts}}
    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt  characters="800"}}&hellip;</p>
        </section>
    </article>
    {{/foreach}}
    {{pagination}}
</main>